body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
}

.input-section {
    margin: 20px auto;
    padding: 20px;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
    text-align: left;
}

input, select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result-section {
    margin-top: 20px;
}
